.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
  cursor: pointer;

  @include respond(tab-landscape) {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
    cursor: pointer;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @include respond(tab-landscape) {
    margin-top: 0;
    margin: 2.4rem;

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}
